[submodule "part0"]
	path = part0
	url = https://github.com/totallynotbakadestroyer/fullstackopen-0.4-0.6
[submodule "part1/course-info"]
	path = part1/course-info
	url = https://github.com/totallynotbakadestroyer/course-info
[submodule "part3/phonebook-backend"]
	path = part3/phonebook-backend
	url = https://github.com/totallynotbakadestroyer/phonebook-backend

